 body{
        background:#25383C;
        background-repeat:repeat;
        object-fit: fill;
        color: antiquewhite;
      }
      #img{
       justify-content: center;
       justify-items: center;
       align-items: center;
      }
      #img img{
        height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: top middle;
      }
      .button{
        display: flex;
        width: 100%;
        gap: 100px;
       justify-content: center;
       margin-top: 20px;
      }
      #btn{
        width: auto;
       flex-wrap: wrap;
      }
      #card{
        border-radius: 30px;
        border: none;
        align-items: center;
      }
      #card-body{
       font-size: 26px;
       border-radius: 30px;
       font-size: 28px;
       width: 100%;
       justify-items: center;
      }
       #card-body h4{
        color: chocolate;
        font-size: 34px;
        padding-bottom: 20px;
       }
        #card-body h6{
          font-size: 25px;
          transition: 0.5s;
          padding-bottom: 10px;
        }
         #card-body h6:hover{
          color: indianred;
          transform: scale(1.1);
         }
          #card-body #icon{
            height: 40px;
            padding-right:20px;
            align-self: center;
         }
         #logo img{
          height: 20px;
          width: auto;
          transition: 0.1s ease;
          justify-self: center;
         }
         #logo img:hover{
          transform: scale(1.1);
         }
         #navbar{
          color: goldenrod;
          justify-items: center;
          margin: 0px 50px;
         }
         #ul{
          list-style-type: none;
          display: flex;
          position: relative;
          left: 50%;
          gap: 30px;
          font-size: 20px;
         }
          #ul li:hover{
            color: crimson;
          }
          #footer{
            font-size: 28px;
          }
          span{
            padding-right: 10px;
          }
          .logo img{
            height: 40px;
            width: auto;
            object-fit: cover;
            padding-right: 10px;
            transition: 0.9s;
          }
           .logo img:hover {
            transform: rotate(360deg);

           }
           .logo{
            display: flex;
            gap: 50px;
            text-align: center;
            align-content: center;
           padding-left: 30px;
           padding-top: 30px;
           }
        .container2{
          height: auto;
          border: 1px solid white;
          background-color: #36454F;
          margin-top: 70px;
        }
        .h1{
          text-align: left;
          padding-top: 30px;
          padding-left: 30px;
        }
       
        .main{
          padding-left: 100px;
          padding-top: 150px;
        }
        #logo span{
          font-size: 12px;
          padding-bottom: 10px;
        }
      @media (max-width: 900px ){
         .logo img{
            height: 30px;
            width: auto;
            padding:0px;
            margin: 0px;
            gap: 0px;
          }
         .logo span{
          font-size: 12px;
         } 
          .logo{
            display: block;
            gap: 20px;
            text-align: center;
            align-content: center;
           padding-left: 10px;
           padding-top: 10px;
           }
           body{
            justify-content: center;
            align-items: center;
            

           }
           #caro1{
            position:absolute;
            top: 100px;
           }
        }
        @media (max-width: 996px ){
          #ul{
          position: relative;
          left: 0;
          }
          .photo{
            margin-top: -40px;
            height: auto;
            width: 70%;
            justify-content: center;
            align-content:center ;
            margin-left: 60px;
          }
             #home{
            justify-content: center;
           }
            .main{
          justify-content: center;
          padding-top: 10px;
          font-size: 20px;
        }
        }
        @media (max-width: 320px ){
          .btn1{
            position: relative;
            left: 90%;
          }
        }